$font-family: "Work Sans";

// colors
$white: #fff;
$black: #000;
$dark: #000;
$green: #4cc71d;
$blue: #006cf0;
$red: #e21c40;
$lightRed: #ff7272;
$lightGrey: #cdcdcd;
$lightDark: #444;

//font sizes
$mainFont: 14px;
$secondaryFont: 12px;

$boldFont: 24px;